* {
    box-sizing: border-box;
}

    body{
    background-color: #d9e6f7;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin: 7% 1% 0 1%;
  }

  .container-principal {
    display: flex;
    width: 100%;   
}
  
  h1{
      font-size: 120px;
      font-family:sans-serif;
      color: #D230AA;
      text-align: center;
      font-weight: 200;
      padding: 0px;
      justify-content: center;
      background: #ffffff;
      margin: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  .palavra-rosa{
      color: #D230AA;
      font-weight: bolder;
  }
  
  .frases-logo{
     display: flex;
     align-items: center;
     flex-direction: column;
      padding: 0px;
      justify-content: center;
      background: #ffffff;
      margin: 5px;
      width: 100%;
    
  }
  input{
      margin-top: 5px;
  }
  
  p{
      text-align: center;
      font-size: 16px;
      margin-top: 8px;
      margin-bottom: 0px;
  }
  
.c-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
   
    
  }
  
  .c-login {
    display: flex;
    flex-direction: column;
    background-color: #E8EEFA;
    padding: 20px;
    margin: 5px;
  }
  
  .email {
    display: flex;  
    flex-direction: column;
  }
  
  .senha {
    display: flex;  
    flex-direction: column;
    margin: 20px 0;
  }
  
  .c-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 5px;
    background-color: #E8EEFA;
  }
  .salvar-info{
      margin-bottom: 10px;
  }
  
  a{
      padding-right: 5px;
      padding-left: 5px;
      color: rgba(0, 0, 233, 0.772);
  }
  
  .link-acessar{
      text-align: center;
  }

  .link-acessar, .link-registrar{
      margin-top: 10px;
      font-weight: 600;
  }
  .links{
      background: #bccdea;
      text-align: center;
      margin-top: 1%;
      padding: 0.7%;
      width: 100%;
  }
h2 { 
      display: flex;
	  justify-content: center;
      margin-top: 20px;
      font-size: 14px;
      opacity: 0.6;   
    }
h2 a{
    text-decoration: none;
}


@media only screen and (min-width:200px) and (max-width:650px){

    .container-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1{
        font-weight: 600;
    }
   
    section{
        display: none;
    }
    .frases-logo{
        width: 100%;
        margin-bottom: 20px;
    }
    .c-form {
        width: 100%;

    }
    .c-login .btn{
        display: inline;
        width: 200px;
        margin: 0 auto;
        
    }

    .salvar-info{
        text-align: center;
    }
    
    footer .links{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 20px;
      gap:2px;
    }


    h2{
        margin-bottom: 15px;
    }
}
  